ul {
    list-style-type: circle;
} 

h1{
    text-align: center;
}

.btn
{
    text-align:center;  
}
button
{
    width:200px;
    background-color:aquamarine;
    font-size:25px;
}

body
{
    text-align:center; 
}